<div class="container-fluid text-align-center">
<h1>Employee Details</h1>
<form  class='w-50 m-auto' #userForm="ngForm">

   <div class = "form-group p-4">
    <label for="empName" class="float-start"> Name</label>
    <input type="text" required name="empName" class="form-control w-50 m-auto" ngModel>
  </div>

  <div class = "form-group p-4">
    <label for="empAdd" class="float-start"> Address</label>
    <input type="text" name="empAdd" minlength="6" class="form-control w-50 m-auto" ngModel>
  </div>

  <div class = "form-group p-4">
    <label for="empPhone" class="float-start"> Phone Number</label>
    <input type="tel" name="empPhone" class="form-control w-50 m-auto" pattern="[0-9]{10}" ngModel>
  </div>

  <div class = "form-group p-4">
    <label for="empDob" class="float-start"> Date Of Birth</label>
    <input type="date" name="empDob" class="form-control w-50 m-auto " ngModel>
  </div>

  <div class = "form-group p-4">
    <label for="empEmail" class="float-start"> Email</label>
    <input type="email" name="empEmail" class="form-control w-50 m-auto" ngModel>
  </div>

  <div class = "form-group p-4">
    <button (click)="Validate()" type="submit"  class="btn btn-primary m-auto" >Submit</button>
  </div>
  
</form>

</div>